*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 0.625rem;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  overflow-x: hidden;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit,
.fade-exit.fade-exit-active {
  opacity: 0;
}
