// colors

$coralHome: #ff9168;
$delicateCoralHome: #eab29d;
$lightCoralHome: #ffe0d5;
$lightPeachHome: #ffa481;
$delicateRoseHome: #f9ece6;
$mediumWhite: rgba(255, 255, 255, 0.6);
$lightOrangeTraining: #ffc990;
$darkRosePrice: #d6ab87;
$powderRed: #927171;
